<script id="template" type="text/ractive">

  <div class="normal-content container">
    <h2>About OHub</h2>
    <div class="row" style="margin-bottom: 50px">
      <div class="col-md-offset-2 col-md-8">
        <p></p>
      </div>
    </div>
  </div>

</script>

<div id="ractive-container">

</div>

<script data-main="/js/about" src="/packages/requirejs/require.js"></script>
