<script id="template" type="text/ractive">

  <div class="normal-content container" style="margin-top: 30px;">
    <div class="row">
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-folder-open"></span>{{ project.owner.username}} / {{ project.identifier }}</h3>
      </div>
      <div class="col-md-6">
        <button class="btn btn-sm btn-default pull-right">
            <span class="glyphicon glyphicon-thumbs-up pull-left" style="margin-right: 10px"></span> Like (125)
        </button>
        <button class="btn btn-sm btn-default pull-right" style="margin-right: 15px">
            <span class="glyphicon glyphicon-eye-open pull-left" style="margin-right: 10px"></span> Follow (10)
        </button>
      </div>
    </div>

    <table width="100%">
      <tr>
        <td width="310px" style="vertical-align: top">
          <p>
            <img src="{{ project.imageUrl }}" style="border: 1px solid #ccc; margin-bottom: 15px; border-radius: 5px; margin-right: 20px;">
          </p>
          <div class="project-menu">
            <div><a href="#"><span class="glyphicon glyphicon-tasks"></span>Issues</a></div>
            <div><a href="#"><span class="glyphicon glyphicon-file"></span>Source code</a></div>
            <div><a href="/{{ project.owner.username}}/{{ project.identifier }}/mecanic"><span class="glyphicon glyphicon-wrench"></span>Mecanic</a></div>
            <div><a href="#"><span class="glyphicon glyphicon-fire"></span>Electronic</a></div>
            <div><a href="#"><span class="glyphicon glyphicon-globe"></span>Wiki</a></div>
            <div><a href="#"><span class="glyphicon glyphicon-bullhorn"></span>Forum</a></div>
          </div>
        </td>
        <td style="vertical-align: top">
          <h3 class="section">Mecanical design</h3>
          <hr>

          <button class="btn btn-sm btn-success pull-right" style="margin-bottom: 30px">
              <span class="glyphicon glyphicon-plus" style="font-size: 1.3em; margin-right: 10px"></span> New model
          </button>

          <table class="table table-striped">
            <tbody>
              <tr>
                <td width="40px"><strong>#1</strong></td>
                <td>
                  <strong>RuggedPOD Cage</strong>
                  <div style="font-style: italic; color: #888; margin-top: 5px; margin-bottom: 15px;">committed by <a href="#">Jean-Jacques Chanut</a></div>
                  <img atl="FreeCAD" src="/images/freecad.png" style="margin-bottom: 10px;"> FreeCAD
                </td>
                <td>
                  1.4.0
                </td>
                <td>
                  <a href="#" class="pull-right">See History</a>
                  <br><br>
                  <button class="btn btn-sm btn-primary pull-right">
                      <span class="glyphicon glyphicon-eye-open pull-left" style="font-size: 1.3em; margin-right: 10px"></span> View model
                  </button>
                  <button class="btn btn-sm btn-default pull-right" style="margin-right: 15px">
                      <span class="glyphicon glyphicon-download pull-left" style="font-size: 1.3em; margin-right: 10px"></span> Original file
                  </button>
                  <button class="btn btn-sm btn-default pull-right" style="margin-right: 15px">
                      <span class="glyphicon glyphicon-download pull-left" style="font-size: 1.3em; margin-right: 10px"></span> STEP file
                  </button>
                </td>
              </tr>

              <tr>
                <td width="40px"><strong>#2</strong></td>
                <td>
                  <strong>RuggedPOD Tank</strong>
                  <div style="font-style: italic; color: #888; margin-top: 5px; margin-bottom: 15px;">committed by <a href="#">Jean-Jacques Chanut</a></div>
                  <img atl="FreeCAD" src="/images/freecad.png" style="margin-bottom: 10px;"> FreeCAD
                </td>
                <td>
                  1.3.4
                </td>
                <td>
                  <a href="#" class="pull-right">See History</a>
                  <br><br>
                  <button class="btn btn-sm btn-primary pull-right">
                      <span class="glyphicon glyphicon-eye-open pull-left" style="font-size: 1.3em; margin-right: 10px"></span> View model
                  </button>
                  <button class="btn btn-sm btn-default pull-right" style="margin-right: 15px">
                      <span class="glyphicon glyphicon-download pull-left" style="font-size: 1.3em; margin-right: 10px"></span> Original file
                  </button>
                  <button class="btn btn-sm btn-default pull-right" style="margin-right: 15px">
                      <span class="glyphicon glyphicon-download pull-left" style="font-size: 1.3em; margin-right: 10px"></span> STEP file
                  </button>
                </td>
              </tr>

              <tr>
                <td width="40px"><strong>#3</strong></td>
                <td>
                  <strong>RuggedPOD Blade</strong>
                  <div style="font-style: italic; color: #888; margin-top: 5px; margin-bottom: 15px;">committed by <a href="#">Jean-Jacques Chanut</a></div>
                  <img atl="FreeCAD" src="/images/freecad.png" style="margin-bottom: 10px;"> FreeCAD
                </td>
                <td>
                  1.3.0
                </td>
                <td>
                  <a href="#" class="pull-right">See History</a>
                  <br><br>
                  <button class="btn btn-sm btn-primary pull-right">
                      <span class="glyphicon glyphicon-eye-open pull-left" style="font-size: 1.3em; margin-right: 10px"></span> View model
                  </button>
                  <button class="btn btn-sm btn-default pull-right" style="margin-right: 15px">
                      <span class="glyphicon glyphicon-download pull-left" style="font-size: 1.3em; margin-right: 10px"></span> Original file
                  </button>
                  <button class="btn btn-sm btn-default pull-right" style="margin-right: 15px">
                      <span class="glyphicon glyphicon-download pull-left" style="font-size: 1.3em; margin-right: 10px"></span> STEP file
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      <tr>
    </table>

  </div>

</script>

<div id="ractive-container">

</div>

<script data-main="/js/mecanic" src="/packages/requirejs/require.js"></script>
