<script id="template" type="text/ractive">

  <div class="normal-content container" style="margin-top: 30px;">
    <div class="row">
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-folder-open"></span>{{ project.owner.username}} / {{ project.identifier }}</h3>
      </div>
      <div class="col-md-6">
        <button class="btn btn-sm btn-default pull-right">
            <span class="glyphicon glyphicon-thumbs-up pull-left" style="margin-right: 10px"></span> Like (125)
        </button>
        <button class="btn btn-sm btn-default pull-right" style="margin-right: 15px">
            <span class="glyphicon glyphicon-eye-open pull-left" style="margin-right: 10px"></span> Follow (10)
        </button>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div style="float: left">
          <p>
            <img src="{{ project.imageUrl }}" style="border: 1px solid #ccc; margin-bottom: 15px; border-radius: 5px; margin-right: 30px;">
          </p>
          <div class="project-menu">
            <div><a href="#"><span class="glyphicon glyphicon-tasks"></span>Issues</a></div>
            <div><a href="#"><span class="glyphicon glyphicon-file"></span>Source code</a></div>
            <div><a href="/{{ project.owner.username}}/{{ project.identifier }}/mecanic"><span class="glyphicon glyphicon-wrench"></span>Mecanic</a></div>
            <div><a href="#"><span class="glyphicon glyphicon-fire"></span>Electronic</a></div>
            <div><a href="#"><span class="glyphicon glyphicon-globe"></span>Wiki</a></div>
            <div><a href="#"><span class="glyphicon glyphicon-bullhorn"></span>Forum</a></div>
          </div>
        </div>

        <h2>{{ project.name }}</h2>
        <p style="font-style: italic; margin-bottom: 40px">{{ project.headline }}</p>
        {{{ project.description }}}
      </div>
    </div>
  </div>

</script>

<div id="ractive-container">

</div>

<script data-main="/js/project" src="/packages/requirejs/require.js"></script>
